<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ResourceId>/subscriptions/a9393e0f-0a12-4752-9279-9c0ec5561e4e/resourcegroups/FiapApiAspNet20210913214536ResourceGroup/providers/Microsoft.Web/sites/ShiftFiapCsharp1</ResourceId>
    <ResourceGroup>FiapApiAspNet20210913214536ResourceGroup</ResourceGroup>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://shiftfiapcsharp1.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <SCMUrl>https://shiftfiapcsharp1.scm.azurewebsites.net/</SCMUrl>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <ProjectGuid>a77eaae1-5b26-4601-bbfc-30272156e30a</ProjectGuid>
    <MSDeployServiceURL>waws-prod-sn1-173.publish.azurewebsites.windows.net:443</MSDeployServiceURL>
    <DeployIisAppPath>ShiftFiapCsharp1</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$ShiftFiapCsharp1</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
  </PropertyGroup>
</Project>